.window-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px; 
    border: 2px solid green;
    background-color: rgb(146, 227, 146);
    border-radius: 5%;
    overflow: hidden;
    
}

.header-section {
    text-align: center;
    background-color: rgb(36, 134, 36);
    padding-top: 1px;
    padding-bottom: 1px;

}

#title{
    color: rgb(16, 16, 16);
    text-transform: capitalize;
}

.label_bill{
    color: (16, 16, 16);
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 0;
}

.label_people{
    color: (16, 16, 16);
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 0;
}


.input{
    margin-top: 5px;
    margin-left: 20px;
    width: 50%;
    
    background-color: rgb(213, 246, 213);
    cursor: pointer;
    height: 20px;
    border: none;
    border-bottom: 2px solid rgb(0, 83, 0);
}

.label_service{
    color: (16, 16, 16);
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 0;
}

input,
select {
    margin-top: 5px;
    margin-left: 20px;
    width: 50%;
    background-color: rgb(213, 246, 213);
    height: 25px;
    border: none;
    border-bottom: 2px solid rgb(0, 83, 0); 
}

.btn_calculate{
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    height: 50px;

    background-color: rgb(105, 179, 105); 
    border: none;
    border-radius: 5%;
    font-size: 20px;
    color: rgb(16, 16, 16);
    font-weight: bold;
    cursor: pointer;
}

.btn_calculate:hover{
    background-color: rgb(173, 219, 173);
}


.tip{
    color: rgb(16, 16, 16);
    font-size: 20px;
    display: none;
}



